* {
  /* Remove all margins and paddings
  ** Then make the bx sizing border-box
  ** to gain full control of each element
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************** Base Stylings *************/
:root {
  /* Color Variables */
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
  /* ******************* */

  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/********** Header Styling ****************/
.header, .header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: fixed;
  width: 100vw;
  background-color: var(--pink);
  padding: 0.5rem 1.25rem;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
  z-index: 1;
}
.header-icons {
  gap: 1rem;
}
.header-home-link, .header-cart-icon, .header-favorite-icon {
  color: whitesmoke;
  text-decoration: none;
}
.header-cart-icon:hover, .header-favorite-icon:hover {
  color: blue;
}
/*************************/

/************** Home Page Styles **********/
.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2px;
  padding: 5rem 0.5rem 1.5rem 0.5rem;
  z-index: 0;
}
.home-images {
  position: relative;
}
.image {
  display: block;
  width: 100%;
}
.home-images-icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  top: 1%;
  left: 0%;
  right: 0%;
}
.fav-icon {
  font-size: 1.5rem;
  color: var(--red);
}
.cart-icon {
  font-size: 1.5rem;
  color: var(--blue);
}
/************************************** */

/*********** Cart Page Styling ************/
.cart-and-fav {
  padding: 5rem 0.5rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}
.cart-and-fav h1, .cart-and-fav-no-items p {
  text-align: center;
  font-weight: normal;
}
.cart-item, .cart-list, .cart-item div {
  display: flex;
}
.cart-list {
  flex-direction: column;
}
.cart-item {
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cart-item div {
  gap: 0.5rem;
}
.cart-item-img {
  display: block;
  width: 150px;
}
.cart-item-delete-btn {
  font-size: 1.5rem;
}
.cart-item-delete-btn, .cart-item-img {
  align-self: center;
}
.cart-item div, .cart-item p {
  align-self: center;
}
.cart-and-fav-no-items {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}
.checkout-btn {
  background-color: whitesmoke;
  color: var(--black);
  outline: none;
  border-color: var(--black);
  cursor: pointer;
  margin: 1rem auto 0rem;
  padding: 15px;
  font-weight: bold;
}
.total {
  text-align: right;
}
/******************************************** */





/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
